@use "globals" as *;

.card {
  border: 1px solid $azul;
  border-radius: 16px;
  box-shadow: 1px;
  height: 400px;
  width: 300px;
  overflow: hidden;
  background-color: #fff;

  .card-img-top {
    width: 100%;
    height: auto;
  }

  .card-body {
    .card-title {
      font-weight: bold;
      font-size: $titulocard;
      margin: 10px 0;
      text-align: center;
      color: $azul;
    }

    .card-text {
      color: $azul;
      margin-top: 30px;
      margin-bottom: 50px;
      padding: 0px 20px;
      font-size: $txtcard;
    }

    .boton {
      position: relative;
      left: 40%;
    }
  }
}
