@use "globals" as *;

.conocimientos {
  .tabla {
    position: relative;
    left: 20%;
    background-color: $azul;
    border-collapse: collapse;
    border-color: $blanco;
    width: 60%;
    color: $blanco;
    border-radius: 10px;
  }
}
