@use "globals" as *;

.dnd {
  text-align: center;
  p {
    font-size: $txtnormal;
    padding-bottom: 10px;
    color: $azul;
  }
  a {
    padding: 30px;
    border: 0;
    font-size: 45px;
    &:hover {
      background-color: $blanco;
      color: $azul;
    }
  }
}
