@use "globals" as *;

.estudios {
  .titulo {
    padding-left: 410px;
    display: flex;
    gap: 30px;
    align-items: center;
    i {
      color: $azul;
    }
    .titulotxt {
      color: $azul;
      font-size: 20px;
    }
  }
}
