@use "globals" as *;

.estudios {
  .titulo {
    position: relative;
    left: 30%;
    display: flex;
    gap: 30px;
    align-items: center;
    i {
      color: $azul;
    }
    .titulotxt {
      color: $azul;
    }
  }
}
