@use "globals" as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: $blanco;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-left: $container;
  padding-right: $container;
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 100px;
      height: 50px;
    }
  }

  .menu {
    display: flex;
    gap: 15px;

    button {
      background-color: transparent;
      border: 2px solid $azul;
      color: $azul;
      border-radius: $border-radius;
      padding: 5px 15px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
      a {
        text-decoration: none;
        color: $azul;
        &:hover {
          color: $blanco;
        }
      }
      &:hover {
        background-color: $azul;
        color: $blanco;
      }
    }
  }
}
