@use "globals" as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: $blanco;
  box-shadow: 0 2px 5px rgb(50, 59, 113);
  padding-left: $container;
  padding-right: $container;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 170px;
      height: 50px;
    }
  }

  .menu {
    display: flex;
    gap: 15px;
    @include respond-to-medium {
      padding-left: 10px;
      gap: 20px;
      justify-content: center;
    }
    @include respond-to-small {
      padding-left: 5px;
      padding-right: 15px;
      gap: 20px;
    }
  }
}
.menu-toggle {
  display: none; // Oculto en pantallas grandes
  cursor: pointer;

  .hamburger {
    width: 25px;
    height: 3px;
    background-color: $blanco;
    margin: 5px 0;
    transition: all 0.3s ease;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 25px;
      height: 3px;
      background-color: $blanco;
      transition: all 0.3s ease;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
    }
  }
  @include respond-to-medium {
    display: block;
  }
}
