@use "globals" as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: $blanco;
  box-shadow: 0 2px 5px rgb(50, 59, 113);
  padding-left: $container;
  padding-right: $container;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 100px;
      height: 50px;
    }
  }

  .menu {
    display: flex;
    gap: 15px;
  }
}
