@use "globals" as *;

.sobremi {
  .yo {
    display: flex;
    .fotomia {
      width: 150px;
      height: 150px;
    }
    .descripcion {
      padding-left: 30px;
      color: $azul;
      font-size: 20px;
    }
    @include respond-to-medium {
      flex-direction: column;
      align-items: center;
    }
  }
}
