@font-face {
  font-family: Copperplate;
  src: url(../assets/fonts/7489-fontps.ttf);
}

$border-radius: 20px;
$font-family: "Arial, sans-serif";

$rojo: rgb(222, 73, 41);
$negro: rgb(0, 0, 0);
$blanco: rgb(255, 255, 255);
$azul: rgb(50, 59, 113);
$amarillo: rgb(222, 163, 41);
$verde: rgb(190, 222, 41);

$container: 7%;
$margin-top: 20px;
$titulo-text-size: 40px;
