@use "globals" as *;
@use "layout";
@use "header";
@use "footer";
@use "content";
@use "sobremi";
@use "h1";
@use "conocimientos";
@use "estudios";
@use "card";
@use "button";
@use "proyectos";
@use "dnd";
